table {
    border-collapse: collapse;
    border: thin solid;
    margin: 2em;
}

tr {
    border-top: thin solid;
    border-bottom: thin solid;
}

tr:first-child {
    border-top: 0 none;
}

th, td {
    padding: 1em;
}

thead tr, tr:nth-child(even) {
    background-color: lightgrey;
}

th {
    font-size: 1.2em;
}

tbody th {
    text-align: left;
}

td:last-child {
    min-width: 180px;
    text-align: right;
}